<style>
  .bx {

    -webkit-transition: background 2s ease-in !important;
    -moz-transition: background 2s ease-in !important;
    -o-transition: background 2s ease-in !important;
    transition: background 2s ease-in !important;
  }

  .bx:hover {
    background: rgba(0,0,0,1) !important;
  }
</style>

<body class="bg-black vh-100">
<button type="button" class="btn btn-close-white position-absolute top-50 start-50 translate-middle bx">
  <a routerLink="/origen"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Al principio no había nada
  </a>
</button>
</body>
